
.banner
    margin: auto
    position: relative
    overflow: hidden

    .profile
        text-align: center
        float: left
        width: 100px
        padding-top: 10px
        
        img 
            width: 70px
            height: 70px
            display: inline-block
            border-radius: 100px
            background: no-repeat center center
            background-size: cover
            margin-right: 2px
            margin-bottom: 12px

        .main_content
            margin: auto
            width: calc(100% - 92px)
            float: left

            .profile_name 
                text-align: left
                font-weight: 400

          

    .bio
        padding: 1rem
        color: lightgrey
        font-weight: 400 
        font-family: Impact, Haettenschweiler, sans-serif  
        font-style: italic 


.social_links
        display: flex
        justify-content: center
        margin-top: 4rem
.icon
    height: 2.5rem
    padding-right: .75rem
