.sidebar
    display: flex

.tag_container
    position: sticky
    height: 100%
    top: 0
    display: flex
    justify-content: center
    flex-direction: column
    text-align: center
    width: 25%
    margin-top: 15rem
    font-size: var(--font-size-md)
    padding-top: 4rem
    overflow-y: scroll
    

.tag
    display: flex
    flex-direction: row

.tag_list
    display: flex
    justify-content: center
    flex-direction: column